.sidebar {
  height: 100vh;
  width: 300px;
  background-color: #38598b;
}

.sidebar-list {
  font-size: 1.2rem;
  color: #e7eaf6;

  a {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0px 24px;
    color: #e7eaf6;
    cursor: pointer;
    text-decoration: none;


    &:hover {
      background-color: #113f67;
    }
  }

  .active {
    background-color: #113f67;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.logo-img {
  max-width: 250px;
}
